.btn{
 background-color: #74fac0;
 border: none;
 padding: 10px;
 border-radius: 10px;
 font-weight: bolder;
 margin-top: 15px;
 padding-left: 20px;
 padding-right: 20px;
 cursor: pointer;

}

.btn:hover{
 color: aliceblue;
 background-color: #010b28;
 transform: translate(7px);
 transition-duration: 0.5s;
}